build/bin
node_modules
frontend/dist

# Add IDE folder
.idea
.vscode

#config file
*conf.json
*.exe
/vendor/

#sqlite files
*.db

#package-lock.json
package-lock.json

client_secret.json
token.json
/panic.log
